* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

#cursor {
  border-radius: 50%;
  border: 1px solid orange;
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: 4;
  background: transparent;
}

#dot {
  width: 10px;
  height: 10px;
  background-color: orange;
  border-radius: 50%;
  position: fixed;
  z-index: 4;
}

.header-banner-cont {
  background-image: url("../images/banner image.jpg"), url("../images/bg shape.png");
  background-repeat: no-repeat;
  background-position: center, 600px -157px;
}
.header-banner-cont .nav-bar {
  max-width: 1165px;
  height: 130px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-banner-cont .nav-bar .nav-menu {
  transition: 0.4s;
  z-index: 3;
}
.header-banner-cont .nav-bar .nav-menu > ul {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
}
.header-banner-cont .nav-bar .nav-menu > ul li a {
  text-decoration: none;
  color: #000;
}
.header-banner-cont .nav-bar .nav-menu > ul li .lagn-drop-down {
  list-style: none;
  background-color: rgb(191, 218, 246);
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  margin-top: 8px;
  display: none;
}
.header-banner-cont .nav-bar .nav-menu > ul li .lagn-drop-down > li {
  margin-top: 10px;
  cursor: pointer;
}
.header-banner-cont .nav-bar .nav-menu > ul li .lagn-drop-down.active {
  display: block;
}
.header-banner-cont .nav-bar .nav-menu > ul .singup-btn {
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 5px;
}
.header-banner-cont .nav-bar .nav-menu.active {
  left: 0;
}
.header-banner-cont .nav-bar .burger-menu {
  position: absolute;
  top: 0;
  right: 25px;
  top: 50px;
  font-size: 30px;
  display: none;
  transition: 0.3s;
}
.header-banner-cont .nav-bar .burger-menu .fa-xmark {
  display: none;
  transition: 0.3s;
}
.header-banner-cont .nav-bar .burger-menu .fa-xmark.active {
  display: block;
  left: 0;
  top: 0;
  transition: 0.3s;
}
.header-banner-cont .nav-bar .burger-menu .fa-bars.active {
  display: none;
}

.main-container {
  max-width: 1150px;
  margin: auto;
  margin-top: 80px;
  padding-bottom: 132px;
}
.main-container h6 {
  font-size: 1.25rem;
  font-weight: 400;
  color: #e27c66;
}
.main-container h1 {
  font-size: 5rem;
  font-weight: 400;
  margin-top: 20px;
  color: #171d4d;
}
.main-container p {
  margin-top: 2.5rem;
  line-height: 2;
  color: #6c708d;
  font-size: 1rem;
}
.main-container .banner-btn-sec {
  display: flex;
  margin-top: 40px;
  gap: 50px;
}
.main-container .banner-btn-sec .find-more-btn {
  background-color: #f1a501;
  padding: 20px 30px;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
}
.main-container .banner-btn-sec .play-demo-btn {
  color: #767c7c;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
.main-container .banner-btn-sec .play-demo-btn > img {
  border-radius: 50%;
  box-shadow: 0 5px 15px grey;
}

.services-cont h6 {
  text-align: center;
  font-weight: 500;
  font-size: 1.125rem;
  margin-top: 30px;
}
.services-cont h2 {
  text-align: center;
  font-size: 3.125rem;
  font-weight: 500;
  margin-bottom: 90px;
  color: #14183e;
}
.services-cont .service-box {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
}
.services-cont .service-box .service {
  height: 320px;
  width: 270px;
  color: #14183e;
  border-radius: 35px;
  transition: 0.4s;
  text-align: center;
  padding: 20px 45px;
  cursor: pointer;
}
.services-cont .service-box .service h5 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 10px;
}
.services-cont .service-box .service p {
  margin-top: 30px;
  line-height: 30px;
}
.services-cont .service-box .service:hover {
  box-shadow: 5px 10px 35px grey;
}

.top-destinations-cont {
  margin: auto;
  margin-top: 140px;
  max-width: 1045px;
}
.top-destinations-cont > h6 {
  text-align: center;
  font-weight: 500;
  font-size: 1.125rem;
  margin-top: 30px;
}
.top-destinations-cont h2 {
  text-align: center;
  font-size: 3.125rem;
  font-weight: 500;
  margin-bottom: 65px;
  color: #14183e;
}
.top-destinations-cont .top-destination-box {
  display: flex;
  justify-content: space-between;
}
.top-destinations-cont .top-destination-box .destination {
  cursor: pointer;
  padding-bottom: 40px;
  box-shadow: 3px 5px 15px grey;
  border-radius: 25px;
  width: 313px;
  overflow: hidden;
  transition: 0.4s;
}
.top-destinations-cont .top-destination-box .destination h5 {
  margin: 0 25px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 1.125rem;
  font-weight: 400;
}
.top-destinations-cont .top-destination-box .destination h6 {
  margin-left: 25px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
}
.top-destinations-cont .top-destination-box .destination:hover {
  scale: 1.1 !important;
}

.book-your-nex-trip-cont {
  max-width: 1005px;
  margin: auto;
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.book-your-nex-trip-cont .left-side-text > h6 {
  font-weight: 500;
  font-size: 1.125rem;
  margin-top: 30px;
}
.book-your-nex-trip-cont .left-side-text h2 {
  font-size: 3.125rem;
  font-weight: 500;
  margin-bottom: 65px;
  color: #14183e;
}
.book-your-nex-trip-cont .left-side-text .step-box {
  display: flex;
  align-items: center;
  margin-top: 50px;
  max-width: 356px;
}
.book-your-nex-trip-cont .left-side-text .step-box .step-text {
  margin-left: 20px;
}
.book-your-nex-trip-cont .left-side-text .step-box .step-text > h6 {
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 5px;
}
.book-your-nex-trip-cont .left-side-text .step-box .step-text > p {
  font-size: 1rem;
  color: #2e2b2b;
}
.book-your-nex-trip-cont .left-side-text .step-box img {
  width: 50px;
  height: 50px;
}
.book-your-nex-trip-cont .right-side-card {
  display: flex;
  align-items: center;
  position: relative;
  transition: 1s;
}
.book-your-nex-trip-cont .right-side-card > img {
  position: absolute;
  right: -125px;
  transition: 1s;
}

.people-say-about-us-cont {
  max-width: 1040px;
  margin: auto;
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}
.people-say-about-us-cont .people-say-text > h6 {
  font-weight: 500;
  font-size: 1.125rem;
  margin-top: 30px;
}
.people-say-about-us-cont .people-say-text > h2 {
  font-size: 3.125rem;
  font-weight: 500;
  margin-bottom: 65px;
  color: #14183e;
}
.people-say-about-us-cont .people-say-card {
  width: 500px;
  height: 245px;
  box-shadow: 2px 2px 10px rgb(160, 158, 158);
  border-radius: 10px;
  padding-left: 40px;
  padding-top: 60px;
  position: relative;
  margin-left: 171px;
  margin-top: 115px;
}
.people-say-about-us-cont .people-say-card h5 {
  font-size: 1.333rem;
  font-weight: 400;
}
.people-say-about-us-cont .people-say-card h6 {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
}
.people-say-about-us-cont .people-say-card .people-say-card-top {
  max-width: 500px;
  height: 245px;
  box-shadow: 2px 2px 25px rgb(160, 158, 158);
  border-radius: 10px;
  padding: 35px;
  position: absolute;
  top: -70px;
  left: -50px;
  background-color: #fff;
}
.people-say-about-us-cont .people-say-card .people-say-card-top img {
  position: absolute;
  top: -25px;
  left: -25px;
}
.people-say-about-us-cont .people-say-card .people-say-card-top h5 {
  font-size: 1.333rem;
  font-weight: 400;
  margin-top: 80px;
}
.people-say-about-us-cont .people-say-card .people-say-card-top h6 {
  font-size: 1rem;
  font-weight: 400;
}
.people-say-about-us-cont .arrow-btn-sec {
  position: absolute;
  right: 44px;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}
.people-say-about-us-cont .arrow-btn-sec .arrow-btn {
  cursor: pointer;
}

.logo-cont {
  max-width: 1076px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.logo-cont .botton-logo {
  min-width: 199px;
  margin: auto;
  height: 80px;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow-y: hidden;
  border-radius: 10px;
  transition: 0.3s;
}
.logo-cont .botton-logo img {
  width: 160px;
}

.botton-logo:hover {
  box-shadow: 2px 2px 10px rgb(190, 185, 185);
}

.subscribe-cont {
  height: 410px;
  max-width: 1250px;
  margin: auto;
  margin-top: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-cont .bg-shape1 {
  height: 360px;
  width: 480px;
  background-color: rgb(190, 185, 185);
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  z-index: 1;
}
.subscribe-cont .bg-shape2 {
  height: 100%;
  background-color: #f8f7fd;
  border-top-left-radius: 110px;
  margin-left: 80px;
  width: 94%;
  position: absolute;
}
.subscribe-cont .bg-shape3 {
  width: 266px;
  height: 350px;
  background-color: #ebe9fe;
  border-bottom-left-radius: 50px;
  position: absolute;
  right: 0;
  top: 0;
}
.subscribe-cont .subscribe-text-box {
  position: relative;
  background-color: transparent;
  text-align: center;
  z-index: 2;
}
.subscribe-cont .subscribe-text-box h2 {
  font-size: 2.0625;
  font-weight: 400;
  line-height: 1.7;
  color: #5d6282;
}
.subscribe-cont .subscribe-text-box .subscribe-input-btn-box {
  margin-top: 80px;
}
.subscribe-cont .subscribe-text-box .subscribe-input-btn-box input {
  border: none;
  outline: none;
  max-width: 420px;
  min-width: 350px;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 0.9375rem;
}
.subscribe-cont .subscribe-text-box .subscribe-input-btn-box button {
  border: none;
  background-color: #ff8e6c;
  padding: 20px 30px;
  color: #fff;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.footer-cont {
  max-width: 1070px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
}
.footer-cont .footer-logo-sec h2 {
  font-size: 2.8125rem;
  color: #171e4c;
}
.footer-cont .footer-logo-sec p {
  font-size: 0.875rem;
  margin-top: 40px;
  color: #777b96;
}
.footer-cont .footer-menu-sec {
  display: flex;
  gap: 80px;
}
.footer-cont .footer-menu-sec ul {
  list-style: none;
}
.footer-cont .footer-menu-sec ul li {
  color: #777b96;
  margin-bottom: 20px;
}
.footer-cont .footer-menu-sec ul .menu-heading {
  font-size: 1.3125rem;
  color: #000;
  margin-bottom: 40px;
  margin-top: 20px;
}
.footer-cont .footer-media-sec .fa-brands {
  padding: 12px;
  display: inline-block;
  width: 40px;
  height: 40px;
  box-shadow: 1px 1px 5px rgb(205, 196, 196);
  border-radius: 50%;
  margin-right: 20px;
  margin-top: 20px;
}
.footer-cont .footer-media-sec .fa-brands:hover {
  color: #fff;
  background-color: #000;
}
.footer-cont .footer-media-sec h2 {
  font-weight: 400;
  margin-top: 30px;
  color: #777b96;
}

.copy-right {
  margin-top: 80px;
}
.copy-right h4 {
  font-weight: 400;
  color: #777b96;
  text-align: center;
}/*# sourceMappingURL=style.css.map */