@media screen and (max-width:480px) {



    * {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 30px;
    }

    html{
        font-size: 14px;
    }

 
    body {

        #dot{
            display: none;
        }
        #cursor{
            display: none;
        }


        //  nav section

        .header-banner-cont {

            background-image: url('../images/banner mobile.png');
            background-size: cover;
            background-position: center;

            >img {
                display: none;
            }

            .nav-bar {
                padding-left: 20px;

                #burger-menu {

                    display: block;
                }

                .nav-menu {
                    background-color: #fff1da;
                    position: absolute;
                    z-index: 2;
                    left: -1000px;
                    top: 120px;
                    width: 100vw;
                    max-height: 1111px;
                    padding: 30px 0;


                    >ul {
                        flex-direction: column;

                        text-align: center;
                    }
                }
            }




            .main-container {

                padding: 0 20px;
                width: 100%;
                margin-top: 20px;

                h6 {
                    font-size: 1rem;

                }

                h1 {
                    font-size: 3rem;
                }


            }
        }



        // service section

        .services-cont {
            margin-top: 65px;

            h2{
                margin-bottom: 40px;
            }

            .service-box {

                flex-wrap: wrap;
                justify-content: center;
                row-gap: 30px;

                .service {

                    margin: 20px auto;
                }
            }
        }


        // top destination section

        .top-destinations-cont {

            .top-destination-box {

                flex-wrap: wrap;
                display: flex;
                justify-content: center;
                gap: 40px;
                padding: 0 40px;

            }

            .destination {

                margin: auto;
            }
        }




        // book trip section


        .book-your-nex-trip-cont {

            row-gap: 50px;
            padding: 10px 20px;

            .left-side-text {
                text-align: center;
                margin: auto;


                .step-box {
                    margin: auto;
                    margin-top: 30px;
                }
            }

            .right-side-card {
                margin: auto;

                    > img {

                        position: static;
                        max-width: 250px;
                    }

                    

                
            }
        }



        // what-people-say-section


        .people-say-about-us-cont {

            text-align: center;
            padding: 20px;
            margin-top: 40px;

            .people-say-text {
                margin: auto;
            }

            .people-say-card {

                margin: auto;

                .people-say-card-top {


                    left: 20px;
                    display: block;
                    padding-bottom: 10px;

                    h5 {
                        margin-top: 60px;
                    }
                }
            }
        }

        //     logo section
        // 

        .logo-cont {

            .botton-logo {
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
            }
        }



        // subscribe section


        .subscribe-cont {

            padding: 0 20px;

            .bg-shape2 {
                width: 78%;
            }
            .bg-shape3{
                width: 200px;
            }
            .bg-shape1{
                width: 300px;
            }



            .subscribe-text-box {

                input {
                    margin-bottom: 30px;
                }

            }



        }
    }




    .footer-cont {

        padding: 0 20px;


        column-gap: 20px;


        .footer-logo-sec {
            max-width: 200px;
        }


        .footer-media-sec {
            margin: auto;
        }
    }
}


@media screen and (min-width:481px) and (max-width:768px) {



    * {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 30px;
    }

    html{
        font-size: 15px;
    }

    body {

        #dot{
            display: none;
        }
        #cursor{
            display: none;
        }

        //  nav section

        .header-banner-cont {

            background-position: center;
            background-size: cover;
            padding-bottom: 5px;



            .nav-bar {

                padding: 0 20px;

                #burger-menu {

                    display: block;
                }

                .nav-menu {
                    background-color: #fff1da;
                    position: absolute;
                    left: -1000px;
                    top: 120px;
                    width: 100vw;
                    max-height: 1111px;
                    padding: 30px 0;


                    >ul {
                        flex-direction: column;

                        text-align: center;
                    }
                }
            }


            .main-container {

                width: 100%;
                padding: 0 20px;

                h6 {
                    font-size: 1rem;

                }

                h1 {
                    font-size: 3.5rem;
                }

                >p {
                    max-width: 300px;
                }

            }
        }



        // service section

        .services-cont {

            margin-top: 70px;

            .service-box {

                flex-wrap: wrap;
                justify-content: center;
                row-gap: 30px;

                .service {

                    margin: 20px auto;
                }
            }
        }


        // top destination section

        .top-destinations-cont {

            .top-destination-box {

                flex-wrap: wrap;
                display: flex;
                justify-content: center;
                gap: 40px;
                padding: 0 60px;

            }

            .destination {

                margin: auto;
            }
        }




        // book trip section


        .book-your-nex-trip-cont {

            row-gap: 50px;

            .left-side-text {
                text-align: center;
                margin: auto;

                >h2{
                     font-size: 2.9rem;
                }


                .step-box {
                    margin: auto;
                    margin-top: 30px;
                }
            }

            .right-side-card {
                margin: auto;

                >img{
                   position: static;
                   max-width: 450px;
                }
            }
        }



        // what-people-say-section


        .people-say-about-us-cont {

            text-align: center;

            .people-say-text {
                margin: auto;
            }

            .people-say-card {

                margin: auto;

                .people-say-card-top {

                    left: 20px;
                    display: block;
                }
            }


            .arrow-btn-sec {

                margin-top: 310px;

            }
        }

        //     logo section
        // 

        .logo-cont {

            .botton-logo {
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
            }
        }



        // subscribe section


        .subscribe-cont {

            .bg-shape2 {
                margin: 0;
            }

            .bg-shape1 {
                width: 250px;
            }



            .subscribe-text-box {

                input {
                    margin-bottom: 30px;
                }

            }



        }
    }






    .footer-cont {


        column-gap: 15px;


        .footer-logo-sec {
            max-width: 200px;
        }


        .footer-media-sec {
            margin: auto;
        }
    }
}




@media screen and (min-width: 769px) and (max-width: 1289px) {

    body {
        .header-banner-cont {

            .nav-bar {
                font-size: 15px;
                padding: 0 10px;

                .nav-menu {

                    >ul {
                        gap: 32px;
                    }
                }
            }

            .main-container{

                padding-left: 10px;
            }
        }

        .services-cont {

            .service-box {

                flex-wrap: wrap;
                gap: 50px;
                justify-content: center;
            }
        }

        .top-destination-box{

            flex-wrap: wrap;
            gap: 50px;
            .destination{

                margin: auto;
            }
        }


        .book-your-nex-trip-cont{

            gap: 60px;
            max-width: 1000px;

            .left-side-text{
                margin: auto;
            }

            .right-side-card{

                margin: auto;
                
                >img{
                    position: static;
                    max-width: 450px;
                }
            }
        }


        .people-say-about-us-cont{
            padding: 0 20px;
        }

        .subscribe-cont{
            .bg-shape2{
                width:90%;
            }
        }

        .footer-cont{
            gap: 30px;
            padding: 0 20px;
        }
    }

}